* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    display: grid;
}

.wrapper {
    width: min(90%, 50rem);
    display: grid;
    place-self: center;
    gap: 2rem;
}